<div class="login-form">
  <%= show_message %>
  <%= form_with model: @user, url: admin_login_path do |f| %>
    <%= f.text_field :email, label: "Email" %>
    <%= f.password_field :password, label: "Password" %>
    <%= f.submit "Login" %>
  <% end %>
</div>
