<% url = @customer.persisted? ? admin_customer_path(@customer) : admin_customers_path %>
<%= form_with model: @customer, url: url do |f| %>
  <fieldset>
    <%= f.text_field :name, label: "Name" %>
    <%= f.text_field :email, label: "Email" %>
    <%= f.text_field :phone, label: "Phone" %>
    <%= f.text_field :host, label: "Host" %>
    <%= f.check_box :active, label: "Is Active", role: :switch %>
  </fieldset>

  <div class="fgrid">
    <div><%= f.submit "Save" %></div>
    <div><%= link_to "Cancel", admin_customers_path %></div>
  </div>
<% end %>
