<% url = @user.persisted? ? admin_user_path(@user) : admin_users_path %>
<%= form_with model: @user, url: url do |f| %>
  <fieldset>
    <%= f.text_field :name, label: "Name" %>
    <%= f.text_field :email, label: "Email" %>
    <%= f.password_field :password, label: "Password" %>

    <%= f.check_box :admin, label: "Is Admin", role: :switch %>
    <%= f.check_box :active, label: "Is Active", role: :switch %>
  </fieldset>

  <div class="fgrid">
    <div><%= f.submit "Save" %></div>
    <div><%= link_to "Cancel", admin_users_path %></div>
  </div>
<% end %>
