<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <title>Some App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"
  >
  <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
    <header>
      <nav>
        <ul>
          <li class="logo">Admin</li>
        </ul>
        <% if signed_in? %>
        <ul>
          <li><%= link_to "Home", admin_dashboard_path %></li>
          <li><%= link_to "Customers", admin_customers_path %></li>
          <li><%= link_to "Users", admin_users_path %></li>
          <li><%= link_to "Logout", admin_logout_path, data: { turbo_method: :delete } %></li>
        </ul>
        <% end %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer></footer>
</body>
</html>
