<!DOCTYPE html>
<html lang="en">
<head>
  <title>Some App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"
  >
  <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <header>
    <nav>
      <h2>Admin</h2>
    </nav>
  </header>

  <main>
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </main>

  <footer></footer>
</body>
</html>
